<div class="page-header">
  <%= link_to line_items_path, :class => 'btn btn-purple' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New line_item</h1>
</div>

<%= render 'form' %>
